Integrator_Type = MC_Simulation
Min_Max_Lenghts = 1 3
MinfaceAngle = -0.5
Temperature = 1 0
Box_Centering_F = 0
Set_Steps = 1 20000000
EnergyMethod = FreeDTS1.0_FF
Kappa = 10  0 0
Edge_Parameters = 5 0 0
VertexArea = 0 0.7 0 0
TimeSeriesData_Period = 100
VertexPositionIntegrator = MetropolisAlgorithmOpenMP 1 1 0.05
AlexanderMove = MetropolisAlgorithmOpenMP 1
Dynamic_Box = IsotropicFrameTensionOpenMP  1 0 XY
VisualizationFormat = VTUFileFormat VTU_F 2000
NonbinaryTrajectory = TSI TrajTSI 2000
Restart_Period = 1000