Integrator                      = MC
MC_Moves                        = 1 1 1
Initial_Step                    = 1
Final_Step                      = 30
Display_periodic                = 10
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20 0
OutPutTRJ_TSI                   = 10  10  TrjTSI
GeneralOutputFilename           = output
